@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap");

body {
  padding: 1em 0;
  background: black;
}

h1 {
  font-family: "Cinzel Decorative", cursive;
  font-size: 3rem;
  text-align: center;
  color: black;
}
.curved {
  background: white;
}

.grid-container {
  margin: 0 auto;
  max-width: 56em;
}
.grid {
  /* grid fallback */
  display: flex;
  flex-wrap: wrap;

  /* supports grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1em;
}

.no-text-deco {
  text-decoration: none;
}

.card {
  background: linear-gradient(
    135deg,
    rgb(0, 116, 288) 0%,
    rgb(85, 34, 250) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;

  /* flex fallback */
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
}

.card-title {
  color: #fff;
  font-family: "Cinzel Decorative", cursive;
  text-align: center;
}

.house-details {
  margin-bottom: 5rem;
}
.back-link {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  background-color: #000;
}

/* if grid is supported, remove the margin set for the fallback */
@supports (display: grid) {
  .card {
    margin: 0;
  }
}
